<p id="notice"><%= notice %></p>


<div class="container">
<h1 align="center"><font color="white">Listado de proveedores</font></h1>
       
  <table class="table">
    <thead>
   	 <tr>
      <th><font color="white">Empresa</font></th>
      <th><font color="white">Direccion</font></th>
     <th><font color="white">Telefono</font></th>
      <th><font color="white">Contacto de la empresa</font></font></th>
      <th colspan="3"></th>
    </tr>
  </thead>
    
 
       <tbody>
      <% @suppliers.each do |supplier| %>
      <tr>
        <td><font color="white"><%= supplier.name %></font></td>
        <td><font color="white"><%= supplier.address %></font></td>
        <td><font color="white"><%= supplier.phone %></font></td>
        <td><font color="white"><%= supplier.Contact_name %></font></td>
        
        
        <td align="right"><%= link_to 'Ver', supplier, :class => "btn btn-default btn-xs" %></td>
        <td align="center"><%= link_to 'Editar', edit_supplier_path(supplier), :class => "btn btn-default btn-xs" %></td>
        <td align="left" ><%= link_to 'Borrar', supplier, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
 		 </tbody>

  </table>
</div>
<br>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_path,
            :class => 'btn btn-primary' %>
<br>&nbsp;