<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%></title>
  <html class="no-js" lang="nl">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
	<footer>

		<div class="footer">

			<div class="row hidden-print">

				
			</div>

			<div class="row visible-print">
				<div class="col-xs-12">
					
					<!-- START CONTENT ITEM -->
					Alternate footer for print version
					<!-- END CONTENT ITEM -->

				</div>
			</div>

		</div>

	<footer>
</html>
