<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%></title>
  <html class="no-js" lang="nl">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<br/>
		<%if current_user %>
			<%= render 'layouts/menu_usuario' %>
		<%else%>
			<%= render 'layouts/menu_general' %>
		<%end%>
		<div class="row header-top hidden-print">
			<div class="col-md-12">
				 <%= image_tag("logo.png", :alt => "",:class =>"img-responsive") %>
			</div>
		</div>
		<br>
			<%= yield %>
	</div>
</body>

<footer>
	<div class="footer">
		<div class="row">
			<div align="center">
				<div class="well">
					2015-02 - Aplicaciones Para Dispositivos Móviles
				</div>
			</div>
		</div>
	</div>
<footer>
</html>

