<%- model_class = Product -%>

<div class="page-header">
  <h1 align="center"><font color="white">Cat&aacutelogo</font></h1>
</div>

<div class="row" align="center">
  <form name="search_cat_bar" method="get" action="/index">
   <table width="700" cellpadding="5">
     <tr>
       <td>
         <input type="hidden" name="dff_view" value="grid">
         <font color="white">Buscar Producto:&nbsp;</font>
         <input type="text" name="dff_keyword" size="30" maxlength="50"> o 
         
         <select name="dff_cat1num" size="1">
           <option selected="selected" class="s">Filtrar por Categor&iacutea</option>
          <% @categories.each do |category| %>
            <option> <%=category.name.upcase%> </option>
          <% end %>
         </select>&nbsp;
         <input type="submit" value="Buscar">
       </td>
     </tr>
   </table>
</form>
</div>

<br>

<div class="row">
  <% @products.each do |product| %>
    <div class="product-list-inline-large">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail light">
          <a>
            <span class="label label-default price price-over"><%= image_tag("gema.png")%>&nbsp;<%=product.price%></span>
            <%= image_tag product.picture.url(:medium)  %>
          </a>
          <div class="caption">
            <h3><%= product.name %></h3>
            <p><strong>Categoría: <%= product.category.name.upcase  %></strong></p>
            <p><%= product.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>