<div class="row">
	<div class="col-xs-12">
		<!-- START CONTENT ITEM -->
		<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;<strong>¡Disfruta de nuestro servicio Delivery es r&aacutepido y seguro!</strong></div>
		<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<strong>¡Compras divertidas con nuestro sistema de gemas!</strong></div>
		<!-- END CONTENT ITEM -->
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="slider-wrapper theme-light">
			<div class="ribbon"></div>
			<div id="slider1" class="nivoslider">
				<a href="#">
					<%= image_tag("bannerfrutas.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannergemas.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannerchocolates.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannerlacteos.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannerdulces.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannerdulces.png", :alt => "",:class =>"img-responsive") %>
				</a>
				<a href="#">
					<%= image_tag("bannercarnes.png", :alt => "",:class =>"img-responsive") %>
				</a>
			</div>
		</div>
		
	</div>
</div>

<hr>

<div class="row">
<div class="col-xs-12">
	
	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<span class="label label-default price price-over">S/. 1,<sup>99</sup></span>
					<!--<img data-hover="img/product_04b.jpg" src="img/product_04.jpg" alt="">-->
					<%= image_tag("product_04.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<div class="label label-default price">S/. 3,<sup>99</sup></div>
					<!--<img data-hover="img/product_05b.jpg" src="img/product_05.jpg" alt="">-->
					<%= image_tag("product_05.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price">S/. 2,<sup>99</sup></div>
					<!--<img data-hover="img/product_06b.jpg" src="img/product_06.jpg" alt="">-->
					<%= image_tag("product_06.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over">S/. 2,<sup>99</sup></span>
					<!--<img data-hover="img/product_07b.jpg" src="img/product_07.jpg" alt="">-->
					<%= image_tag("product_07.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->

</div>
</div>

<div class="row">
<div class="col-xs-12">

	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price">S/. 2,<sup>99</sup></span>
					<%= image_tag("product_08.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price">S/. 3,<sup>99</sup></div>
					<%= image_tag("product_09.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over">S/. 1,<sup>99</sup></span>
					<%= image_tag("product_10.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price">S/. 3,<sup>99</sup></div>
					<%= image_tag("product_11.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->

</div>
</div>

<div class="row">
<div class="col-xs-12">

	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<span class="label label-default price">S/. 2,<sup>99</sup></span>
					<%= image_tag("product_12.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over">S/. 8,<sup>99</sup></span>
					<%= image_tag("product_13.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price">S/. 1,<sup>99</sup></div>
					<%= image_tag("product_14.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<div class="label label-default price">S/. 3,<sup>99</sup></div>
					<%= image_tag("product_15.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->
</div>
