<div class="row">
	<div class="col-xs-12">
		<!-- START CONTENT ITEM -->
		<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-fire"></span>&nbsp;&nbsp;<strong>¡Disfruta de nuestro servicio Delivery es r&aacutepido y seguro!</strong></div>
		<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<strong>¡Compras divertidas con nuestro sistema de gemas!</strong></div>
		<!-- END CONTENT ITEM -->
	</div>
</div>

<div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_4' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_5' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
		<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_3' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_4' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_5' type="radio" class='cs_anchor pause'>
		<ul>
			<li class="cs_skeleton"><%= image_tag("bannercarnes.png") %></li>
			<li class='num0 img slide'><%= image_tag("bannercarnes.png") %></li>
			<li class='num1 img slide'><%= image_tag("bannerchocolates.png") %></li>
			<li class='num2 img slide'><%= image_tag("bannerdulces.png") %></li>
			<li class='num3 img slide'><%= image_tag("bannerfrutas.png") %></li>
			<li class='num4 img slide'><%= image_tag("bannergemas.png") %></li>
			<li class='num5 img slide'><%= image_tag("bannerlacteos.png") %></li>
		</ul>
		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'> <span class='cs_point'></span></label>
			<label class='num1' for='cs_slide1_1'> <span class='cs_point'></span></label>
			<label class='num2' for='cs_slide1_2'> <span class='cs_point'></span></label>
			<label class='num3' for='cs_slide1_3'> <span class='cs_point'></span></label>
			<label class='num4' for='cs_slide1_4'> <span class='cs_point'></span></label>
			<label class='num5' for='cs_slide1_5'> <span class='cs_point'></span></label>
		</div>
		</div>
		<!-- End cssSlider.com -->
<hr>

<div class="row">
<div class="col-xs-12">
	
	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<span class="label label-default price price-over"><%= image_tag("gema.png")%>&nbsp;1</span>
					<!--<img data-hover="img/product_04b.jpg" src="img/product_04.jpg" alt="">-->
					<%= image_tag("product_04.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 3</div>
					<!--<img data-hover="img/product_05b.jpg" src="img/product_05.jpg" alt="">-->
					<%= image_tag("product_05.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 2</div>
					<!--<img data-hover="img/product_06b.jpg" src="img/product_06.jpg" alt="">-->
					<%= image_tag("product_06.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over"><%= image_tag("gema.png")%>&nbsp; 2</span>
					<!--<img data-hover="img/product_07b.jpg" src="img/product_07.jpg" alt="">-->
					<%= image_tag("product_07.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->

</div>
</div>

<div class="row">
<div class="col-xs-12">

	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 2</span>
					<%= image_tag("product_08.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 3</div>
					<%= image_tag("product_09.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over"><%= image_tag("gema.png")%>&nbsp; 1</span>
					<%= image_tag("product_10.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 3</div>
					<%= image_tag("product_11.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->

</div>
</div>

<div class="row">
<div class="col-xs-12">

	<!-- START CONTENT ITEM -->
	<div class="product-list-inline-large">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<span class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 2</span>
					<%= image_tag("product_12.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product A</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">all products in category</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<span class="label label-default price price-over"><%= image_tag("gema.png")%>&nbsp; 8</span>
					<%= image_tag("product_13.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product B</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail light">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 1</div>
					<%= image_tag("product_14.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product C</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div class="thumbnail dark">
				<a href="detail.html">
					<div class="label label-default price"><%= image_tag("gema.png")%>&nbsp; 3</div>
					<%= image_tag("product_15.jpg") %>
				</a>
				<div class="caption">
					<a href="detail.html">Product D</a>
				</div>
				<a href="products.html" class="btn btn-danger btn-block">Comprar</a>
			</div>
		</div>
	</div>
	<!-- END CONTENT ITEM -->
</div>
