<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo name:</strong>
  <%= @tipo.tipo_name %>
</p>

<p>
  <strong>Tipo des:</strong>
  <%= @tipo.tipo_des %>
</p>

<%= link_to 'Edit', edit_tipo_path(@tipo) %> |
<%= link_to 'Back', tipos_path %>
