
<%= simple_form_for @product, :html => { class: 'form-inline', multipart: true } do |f| %>

<div>
  <font color="white"><%= f.input :name %></font>
  <%= error_span(@product[:name]) %>
  
  </div>
  <br>
  <div>
  <font color="white"><%= f.input :price %></font>
  <%= error_span(@product[:price]) %>
    
  </div>
  <br>
  <div>
  <font color="white"><%= f.input :description %></font>
  <%= error_span(@product[:description]) %>
</div>
  <br>
  <div>
  <font color="white"><%= f.association :trade_mark %></font>
  <%= error_span(@product[:trade_mark]) %>
   </div>
  <br>
  <div>
  <font color="white"><%= f.association :supplier %></font>
  <%= error_span(@product[:supplier]) %>
    </div>
  <br>
  <div>
  <font color="white"><%= f.association :category %></font>
  <%= error_span(@product[:category]) %>
   </div>
  <br>
  <div>
  <font color="white"><%= f.input :picture, as: :file %></font>
  <%= image_tag @product.picture.url(:medium) unless @product.picture_file_name.nil? %>
  <font color="white"><%= error_span(@product[:picture]) %></font>

</font>
<div>
  <%= f.submit %></div>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn btn-default' %>
<% end %>

